In [22]:
#accept user input for lists
try:
    print('Enter the names of 3 students and their corresponding grade.')
    name1=input('name1: ')
    grade1=input('grade1: ')
    grade1=int(grade1)
    name2=input('name2: ')
    grade2=input('grade2: ')
    grade2=int(grade2)
    name3=input('name3: ')
    grade3=input('grade3: ')
    grade3=int(grade3)
    students=[name1,name2,name3]
    grades=[grade1,grade2,grade3]
    print('Students:', students,'Grades:', grades)
except ValueError:
    print('Enter a valid numerical input for grade.')

Enter the names of 3 students and their corresponding grade.

name1:  Kennedy
grade1:  100
name2:  Ryan
grade2:  100
name3:  Dj
grade3:  100

Students: ['Kennedy', 'Ryan', 'Dj'] Grades: [100, 100, 100]

In [58]:
#converts number grade to letter grade
def numToLetter(num):
    if(num>89):
        letterGrade='A'
    elif(num>79):
        letterGrade='B'
    elif(num>69):
        letterGrade='C'
    elif(num>59):
        letterGrade='D'
    else:
        letterGrade='F'
    return letterGrade;

In [60]:
#make the gradebook (using zip function)
gradebook=zip(students,grades)
print('Gradebook:',*gradebook)

Gradebook: ('Kennedy', 90) ('Ryan', 95) ('Dj', 75)

In [59]:
#num of people in the class, avg grade, get list of number grades, avg letter grade
print('Number of students:',len(students))
total=0
for num in grades:
    total+=num;
avgGrade=total/3;
print('Average grade:',avgGrade,'%')
letterGrades=[numToLetter(num) for num in grades]
print('Letter grades:',letterGrades)
avgLetterGrade=numToLetter(avgGrade)
print('Average letter grade:',avgLetterGrade)

Number of students: 3
Average grade: 86.66666666666667 %
Letter grades: ['A', 'A', 'C']
Average letter grade: B

In [44]:
import math
evens=list(n for n in range(21) if n%2==0)
print(evens)
evensLessThanTen=evens[:5]
print(evensLessThanTen)
print('4 is an even number less than 10:', 4 in evensLessThanTen)
print(math.sqrt(sum(evens)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[0, 2, 4, 6, 8]
4 is an even number less than 10: True
10.488088481701515

In [39]:
def addLastName(names=students):
    print('Full Names:')
    for student in names:
        if(' ' not in student):
            print('{} MAYS'.format(student.upper()))

In [40]:
addLastName()

Full Names:
KENNEDY MAYS
RYAN MAYS
DJ MAYS